<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/allHome.css}">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <title>Add Employee</title>
</head>
<body>
    <header id="topmenu">
        <div>
            
        </div>
        <img th:src="@{/img/logo.png}" alt="logoImg" id="logoImg">
        <h1 class="title">OMS</h1>
        <div id="menudiv">
            <a th:href="@{AdminHome}" class="optLink">
                <span class="menu"><h3>Home</h3></span>
            </a>
            <a th:href="@{home}" class="optLink">
                <span class="menu"><button  id="logout1"><h3>Logout</h3></button></span>
            </a>
            
        </div>
    </header>
    <div id="barAdmin">
        <a th:href="@{AddEmp}" class="optLink">
            <span class="menu2"><h3>Add Employee</h3></span>
        </a>
        <a th:href="@{ViewPurchase}" class="optLink">
            <span class="menu2"><h3>View purchase</h3></span>
        </a>
        <a th:href="@{ViewSales}" class="optLink">
            <span class="menu2"><h3>View Sales</h3></span>
        </a>
        <a th:href="@{ViewEmployee}" class="optLink">
            <span class="menu2"><h3>View Employee</h3></span>
        </a>
        <a th:href="@{ViewLeaveReq}" class="optLink">
            <span class="menu2"><h3>View Leave requests</h3></span>
        </a>
    </div>
    <div id="divbody">
        <!-- <h2 class="signup">Add Employee</h2><hr>
        <div class="details">
        <input class="box" required="required" type="text" size="35px" maxlength="30px" name="userid" placeholder="Employee Name" /><br>
        <input class="box" required="required" type="text" size="35px" maxlength="30px" name="userid" placeholder="Email" /><br>
        <input class="box eno" required="required" type="number" size="35px" maxlength="30" minlength="10" name="userid" placeholder="Phone no." /><br>
        <input class="box" required="required" type="text" size="35px" maxlength="30px" name="userid" placeholder="Address" /><br>
        <input class="box eno" required="required" type="number" size="35px" maxlength="30px" name="userid" placeholder="Daily Pay" /><br>
        <input class="box" required="required" type="password" size="35px" maxlength="50px" name="pass" placeholder="Password" /><br>
        <select name="mtype" id="typeList">
            <option value="ACC">Accountant</option>
            <option value="WORKER">Employee</option>
        </select>
        <div id="bt-align">
            <button class="btn1">Login</button>
        </div> -->
        
        <h2 class="signup">Add Employee</h2><hr>
        <form action="./addEmp" method="post">
        	<div class="details">
                <input class="box" required="required" type="text" size="35px" maxlength="30px" name="ename" placeholder="Employee Name" /><br>
                <input class="box" required="required" type="email" size="35px" maxlength="30px" name="email" placeholder="Email" /><br>
                <input class="box" pattern="[1-9]{1}[0-9]{9}" required="required" type="text" size="35px" maxlength="10" minlength="10" name="phone" placeholder="Phone no." /><br>
                <input class="box" required="required" type="text" size="35px" maxlength="30px" name="address" placeholder="Address" /><br>
                <input class="box eno" required="required" type="number" size="35px" maxlength="30px" name="pay" placeholder="Daily Pay" /><br>
                <select name="mtype" id="typeList"> 
                    <option value="ACC">Accountant</option>
                    <option value="WORKER">Employee</option>
                </select>
        	<div id="bt-align">
            	<button class="btn1" type="submit">Add Employee</button>
        	</div>
        	</div>
        </form>
        </div>
    </div>
</body>
</html>