<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/allHome.css}">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <title>Admin Home Page</title>
</head>
<body>
    <header id="topmenu">
        <div>
            
        </div>
        <img th:src="@{/img/logo.png}"  alt="logoImg" id="logoImg">
        <h1 class="title">OMS</h1>
        <div id="menudiv">
            <a th:href="@{home}" class="optLink">
                <span class="menu"><button  id="logout1"><h3>Logout</h3></button></span>
            </a>
            
        </div>
    </header>
    <!-- <h2>This is Accountants home page</h2> -->
    <section id="review_section_admin">
        <h1>Welcome </h1>
        <div id="review_container">
            <a th:href="@{AddEmp}" class="optLink">
                <div class="review_card">
                    <h3>Add Employee</h3>
                    <!-- <p>In the Mercedes-Benz A-Class Limousine, you also get the largest boot in the segment with 405 litres of volume in the petrol model and in the diesel.</p> -->
                </div>
            </a>
            <a th:href="@{ViewPurchase}" class="optLink">
                <div class="review_card">
                    <h3>View Purchase</h3>
                    <!-- <p>The steering wheel is a nice chunky unit with a trackpad that you will find pretty much on all Mercedes-Benz cars these days while the rotary controls.</p> -->
                </div>
            </a>
            <a th:href="@{ViewSales}" class="optLink">
                <div class="review_card">
                    <h3>Sales Status</h3>
                    <!-- <p>The top part of the dashboard is black, the middle gets a wooden finish and then, you have a light coloured soft-touch material in the lower part.</p> -->
                </div>
            </a>
            
            <!-- <a href="/templates" class="optLink">
                
            </a> -->

            <a th:href="@{ViewEmployee}" class="optLink">
                <div class="review_card">
                    <h3>View Employee</h3>
                    <!-- <p>In the Mercedes-Benz A-Class Limousine, you also get the largest boot in the segment with 405 litres of volume in the petrol model and in the diesel.</p> -->
                </div>
            </a>
            
            <a th:href="@{ViewLeaveReq}" class="optLink">
                <div class="review_card">
                    <h3>View Leave Request</h3>
                    <!-- <p>The steering wheel is a nice chunky unit with a trackpad that you will find pretty much on all Mercedes-Benz cars these days while the rotary controls.</p> -->
                </div>
            </a>
        </div>
    </section>
</body>
</html>