<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/allHome.css}">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <title>Change Password</title>
</head>
<body>
    <header id="topmenu">
        <div>
            
        </div>
        <img th:src="@{/img/logo.png}" alt="logoImg" id="logoImg">
        <h1 class="title">OMS</h1>
        <div id="menudiv">
            <a th:href="@{home}" class="optLink">
                <span class="menu"><button  id="logoutEmp"><h3>Logout</h3></button></span>
            </a>
        </div>
    </header>
    <div id="divbody">
        <h2 class="signup">Change Password</h2><hr>
        <form action="./changePassword" method="post">
        	<div class="details">
                <input class="box" required="required" type="text" size="35px" maxlength="30px" name="opass" placeholder="Old Password" /><br>
                <input class="box" required="required" type="text" size="35px" minlength="8px" maxlength="30px" name="npass" placeholder="New Password" /><br>
                <input class="box" required="required" type="text" size="35px" minlength="8px" maxlength="30px" name="cnpass" placeholder="Confirm New Password" /><br>
        	<div id="bt-align">
            	<button class="btn" type="submit">Change Password</button>
        	</div>
        	</div>
        </form>
    </div>
</body>
</html>