<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEDD</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header id="topmenu">
        <div>
            
        </div>
        <img src="../static/img/logo.png" alt="logoImg" id="logoImg">
        <h1 class="title">OMS</h1>
        <div id="menudiv">
            <span class="menu"><h3>Home</h3></span>
            <span class="menu"><h3>About</h3></span>
            <span class="menu"><h3>Contact</h3></span>
            <span class="menu"><button  id="login"><h3>Log in</h3></button></span>
        </div>
    </header>
    <div id="divbody">
        <h2 class="signup">Sign Up</h2><hr>
        <div class="details">
        <input class="box name" type="text" size="12px" maxlength="20px" name="first" placeholder="First Name" />
        <input class="box name" type="text" size="12px" maxlength="20px" name="last" placeholder="Last Name" /><br>
        <input class="box" type="email" size="35px" maxlength="30px" name="mail" placeholder="E-mail" /><br>
        <input class="box" type="password" size="35px" maxlength="50px" name="pass" placeholder="Password" /><br>
        <input class="box last" type="password" size="35px" maxlength="50px" name="cpass" placeholder="Confirm Password" /><br>
        <span id="align"><input class="box" type="checkbox" name="cbox" /><span id="term">I have read and accet the Terms & Condition</span></span><br>
        <div id="bt-align">
            <button class="btn">Sign up</button>
        </div>
        </div>
    </div>
  
</body>
</html>